In [ ]:
# https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/
# https://github.com/LearnDataSci/article-resources

\[*pandas*\] is derived from the term "**pan**el **da**ta", an econometrics term for data sets that include observations over multiple time periods for the same individuals. — [Wikipedia](https://en.wikipedia.org/wiki/Pandas_%28software%29)

In [ ]:
# https://pandas.pydata.org/docs/reference/index.html

In [ ]:
!pip3 install pandas xlrd --upgrade

In [ ]:
import pandas as pd

# Data from Scratch

In [ ]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

![X1](https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png)

In [ ]:
purchases = pd.DataFrame(data)

purchases

In [ ]:
purchases.loc[0]

In [ ]:
purchases['apples']

In [ ]:
purchases['apples'].describe()

In [ ]:
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])

purchases

In [ ]:
purchases.loc['June']

In [ ]:
purchases.iloc[0]

# Read File (CSV)

In [ ]:
!cat 'purchases.csv'
# For Windows, change `cat` to `type`

In [ ]:
df = pd.read_csv('purchases.csv')

df

In [ ]:
df = pd.read_csv('purchases.csv', index_col=0)

df

# Read Excel

In [ ]:
df = pd.read_excel('IMDB-Movie-Data.xlsx')

df

# Read JSON

In [ ]:
df = pd.read_json('purchases.json')

df

In [ ]:
!cat 'purchases.json'

# Read Database

In [ ]:
!cp orgdb.db database.db

In [ ]:
import sqlite3

con = sqlite3.connect("database.db")

In [ ]:
df = pd.read_sql_query("SELECT * FROM purchases", con)

df

In [ ]:
df = df.set_index('index')

df

# Write Dataframe to File or DB

In [ ]:
df.to_csv('new_purchases.csv')

In [ ]:
df.to_json('new_purchases.json')

In [ ]:
df.to_sql('new_purchases', con)
# With SQL, we’re not creating a new file but instead inserting a new table into the database using our con variable from before.

# to normal datatype and iteration

In [ ]:
x = df.to_dict()
x

In [ ]:
x['apples']['June']

In [ ]:
df.values

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
# for col, val in df.items():
for idx, val in df.iteritems():
    print(idx)
    print(val)

In [ ]:
for idx, val in df.iterrows():
    print(idx)
    print(val)

# Example Data

In [ ]:
movies_df = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title")

In [ ]:
movies_df

In [ ]:
movies_df.head()

In [ ]:
movies_df.tail(2)

In [ ]:
movies_df.shape

In [ ]:
movies_df.info()

In [ ]:
movies_df.isnull()

In [ ]:
movies_df.isnull().sum()

In [ ]:
movies_df.loc['John Wick']

In [ ]:
temp_df = movies_df.append(movies_df)
temp_df.shape

In [ ]:
temp_df = temp_df.drop_duplicates()
temp_df.shape

In [ ]:
temp_df = movies_df.append(movies_df)  # make a new copy
temp_df.drop_duplicates(inplace=True, keep='first')
temp_df.shape

In [ ]:
movies_df.columns

In [ ]:
temp_df = movies_df.copy()
temp_df.rename(columns={
        'Runtime (Minutes)': 'Runtime', 
        'Revenue (Millions)': 'Revenue_millions'
    }, inplace=True)

In [ ]:
temp_df

In [ ]:
temp_df = movies_df.copy()
temp_df.dropna()

In [ ]:
temp_df = movies_df.copy()
temp_df.dropna(axis=1)

In [ ]:
temp_df

In [ ]:
temp_df = movies_df.copy()
temp_df.dropna(inplace=True)
temp_df

In [ ]:
movies_df.columns = ['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime', 
                     'rating', 'votes', 'revenue_millions', 'metascore']
movies_df.columns

In [ ]:
movies_df

In [ ]:
revenue = movies_df['revenue_millions']

In [ ]:
revenue_mean = revenue.mean()
revenue_mean

In [ ]:
revenue.sum()

In [ ]:
revenue.fillna(revenue_mean, inplace=True)

In [ ]:
movies_df.isnull().sum()

In [ ]:
movies_df.describe()

In [ ]:
movies_df['genre'].describe()

In [ ]:
movies_df['genre'].value_counts().head()

In [ ]:
movies_df.corr()

In [ ]:
subset = movies_df[['genre', 'rating']]

subset.head()

In [ ]:
movie_subset = movies_df.loc['Prometheus':'Sing']

movie_subset

In [ ]:
movie_subset = movies_df.iloc[1:4]

movie_subset

In [ ]:
condition = (movies_df['director'] == "James Gunn")

condition.head()

In [ ]:
movies_df[movies_df['director'] == "James Gunn"]

In [ ]:
movies_df[movies_df['rating'] >= 8.6]

In [ ]:
movies_df[(movies_df['director'] == 'Christopher Nolan') & (movies_df['rating'] >= 8.8)]

In [ ]:
movies_df[movies_df['director'].isin(['Christopher Nolan', 'Ridley Scott'])]

In [ ]:
movies_df[
    movies_df['director'].isin([
        'Christopher Nolan',
        'Ridley Scott',
    ])
]

In [ ]:
# Let's say we want all movies that were released between 2005 and 2010, 
# have a rating above 8.0, but made below the 25th percentile in revenue.

movies_df[
    ((movies_df['year'] >= 2005) & (movies_df['year'] <= 2010))
    & (movies_df['rating'] > 8.0)
    & (movies_df['revenue_millions'] < movies_df['revenue_millions'].quantile(0.25))
]

In [ ]:
def rating_function(x):
    if x >= 8.0:
        return "good"
    else:
        return "bad"

In [ ]:
movies_df["rating_category"] = movies_df["rating"].apply(rating_function)

In [ ]:
movies_df

In [ ]:
movies_df["rating_category"].value_counts()

# Dataframe Groupby and Aggregate

In [ ]:
movies_df.groupby(by=['director', 'year']).aggregate(['mean', 'sum'])

# Pandas and Plot (matplotlib)

In [ ]:
movies_df.plot(kind='scatter', x='rating', y='revenue_millions', title='Revenue (millions) vs Rating')

In [ ]:
movies_df['rating'].plot(kind='hist', title='Rating');

In [ ]:
movies_df['rating'].plot(kind="box");

In [ ]:
movies_df.boxplot(column='revenue_millions', by='rating_category');

In [ ]:
# condition, groupby, aggregrate, and plot
movies_df[
    movies_df['director'].isin(['Christopher Nolan', 'Ridley Scott'])
].groupby(by=['director', 'year'])['rating'].mean().plot(kind='bar')